<%- include("../partials/head", {title:"Home"}) %>
    <%-include("../partials/sidebar") %>

    <div class="content">
        <div class="container">
            <div class="boxcont">
                <h1>Add a Company</h1>
                <hr>

                <form action=<%= editId?"/companyadd?editid="+editId:"/companyadd" %> method="POST">    
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="compName" value='<%= company.compName?company.compName:'' %>'>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="phone" value='<%= company.phone?company.phone:'' %>'>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="description" value='<%= company.description?company.description:'' %>'></textarea>
                        </div>
                    </div>

                    <div class="col-auto ms-auto">
                        <button type="submit" class="btn btn-primary ms-auto">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include("../partials/foot") %>