<%- include("../partials/head", {title:"Home"}) %>


    <%-include("../partials/sidebar") %>


    <div class="content">
        <div class="container">
            <div class="boxcont">
                <h1>Edit a Payment</h1>
                <hr>

                <form action= <%= "/editpay/" + id %> method="post">
                    <div class="mb-3 row mt-5">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Company</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="compId" id="">
                                <option selected value="<%= companies[0]._id %>" > <%= companies[0].compName %> </option>
                            </select>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Ammount</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" name="ammount" value=<%= payment[0].ammount %>>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Pay Date</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="date" name="dueDate" value=<%= date %>>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="description"> <%= payment[0].description.trim() %> </textarea>
                        </div>
                    </div>

                    <input value=<%= redir %> class="form-control" readonly hidden type="text" name="redir">

                    <div class="col-auto ms-auto">
                        <button type="submit" class="btn btn-primary ms-auto">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <%- include("../partials/foot") %>