<%- include("../partials/head", {title:"Home"}) %>
    <%-include("../partials/sidebar") %>

    <div class="content">
        <div class="container">
            <div class="boxcont">
                <h1>Editing due</h1>
                <hr>

                <form action= <%= "/editdue/" + id %> method="POST">
                    <div class="mb-3 row mt-5">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Company</label>
                        <div class="col-sm-10">
                            <input class="form-control" readonly type="text" hidden name="compId" value=<%= dues.compId %>>
                            <input class="form-control" readonly type="text" name="" value="<%= name %>">
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Due Date</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="date" name="dueDate" value="<%= newDate %>">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Duration</label>
                        <div class="col-sm-5">
                            <input type="number" name="duration" id="" value="1" class="form-control" value=<%= dues.duration %>>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control" name="unit" id="">
                                <option value="0">One Time</option>
                                <option selected value="1">Yearly</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Ammount</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" name="ammount" value=<%= dues.ammount %>>
                        </div>
                    </div>
    
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" name="description" value="<%= dues.description %>"></textarea>
                        </div>
                    </div>

                    <div class="col-auto ms-auto">    
                        <button type="submit" class="btn btn-primary ms-auto">Confirm</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <%- include("../partials/foot") %>